---
---

@import 'globals';

.post-list {
    h2 {
        line-height: 1;
        margin-bottom: 0.2em;
    }

    h3 {
        line-height: 1.2;
        font-weight: normal;
        font-size: 0.8em;
        color: $grey-color-dark;
    }

    .post-link {
        color: black;
        font-size: 1.5em;

        &:hover h2, &:hover h3 {
            color: $brand-color;
        }
    }

    .featured-image {
        display: block;
        margin: 0 auto $spacing-unit/2;
    }
}

.pagination {
    text-align: center;

    .page-number {
        margin: 0 1em;
        color: $grey-color;
    }
}

.rss-subscribe {
    float: right;
    font-size: 0.8em;
    color: $grey-color;
}
