---
---

@import 'globals';

.project {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 0.5em;
    margin: 1em 0;
    line-height: 1;

    &:hover {
        .screenshot-wrapper {
            a {
                display: block;
            }

            .screenshot {
                opacity: 0.5;
            }
        }
    }

    h2 {
        margin-bottom: 0;
    }

    .screenshot-wrapper {
        position: relative;

        a {
            position: absolute;
            display: none;
            width: 40px;
            top: 10px;
            padding: 1em;

            &:hover {
                background-color: $brand-color;
            }

            .link {
                left: 10px;
            }

            .github {
                right: 10px;
            }
        }
    }
}
