.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

@media only screen and (min-width: 1000px) {
  .chart-container{
      margin-left: -20%;
      margin-right: -20%;
  }
}
