.table-container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.table-wrapper {
    overflow-x: auto;
}

table {
  width: auto;
}

thead {
  vertical-align: top;
}

th {
	font-weight: bold;
	cursor: s-resize;
  color: white;
  background-color: rgb(49, 130, 189);
}

tr:nth-of-type(even) {
  background: rgb(158, 202, 225);;
}

td, th {
  border: 1px solid #ccc;
}
