#viz-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

svg {
  width: 800px;
  height: 200px;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

select {
  cursor: pointer;
  font-size: 50px;
  width: 200px;
}

.axis {
  font-size: 13px;
  font-weight: 400;
}

.group-label {
  font-size: 15px;
  font-weight: 400;
}

.prof-circle, .selected-prof-circle {
  fill: orange;
  opacity: 0.8;
  stroke: #4D5656;
}

.prof-circle:hover, .selected-prof-circle:hover {
  cursor: crosshair;
}

.prof-circle {
  stroke-width: 2px;
}


.selected-prof-circle {
  stroke-width: 4px;
}

.prof-label {
  font-size: 10px;
  font-weight: 400;
}
