#viz-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

svg#svg-classes {
  background-color: white;
}

select {
  cursor: pointer;
  font-size: 50px;
  width: 200px;
}

.axis {
  font-size: 13px;
  font-weight: 400;
}

.group-label {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.prof-circle, .frequent-prof-circle {
  stroke: #4D5656;
  stroke-width: 2px;
}

.prof-circle {
  fill: #FFB30F;
  opacity: 0.7;
}

.frequent-prof-circle {
  fill: #247BA0;
  opacity: 0.9;
  z-index: 1000 !important;
}

.prof-circle:hover, .frequent-prof-circle:hover {
  cursor: crosshair;
}

/*.selected-prof-circle {
  stroke-width: 4px;
}*/

.prof-label {
  font-size: 10px;
  font-weight: 400;
}
