---
layout: default
stylesheets:
  - /css/front.css
---

<div class="home">

  <ul class="post-list">
    {% for post in paginator.posts %}
      {% if post.displayed %}
      <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          {% if post.featured_image %}
          <img class="featured-image" src="{{ site.image_url }}/{{ post.featured_image.url }}" />
          {% endif %}
          <h2>{{ post.title }}</h2>
          <h3>{{ post.teaser }}</h3>
          <h3 class='info'>
            {{ post.date | date: "%b %-d, %Y" }}
             &#9679 By
            {% for author_key in post.authors %}
              {% assign author = site.data.authors[author_key] %}
              {{author.name}}{% unless forloop.last %}, {% endunless %}
            {% endfor %}
          </h3>
        </a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  {% if paginator.previous_page or paginator.next_page %}
  <nav class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">← Previous page</a>
    {% endif %}
    <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">More posts →</a>
    {% endif %}
  </nav>
  {% endif %}

  <p class="rss-subscribe">subscribe to {{ site.title }} <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
