---
layout: default
stylesheets:
  - /css/front.css
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.displayed %}
      
      {% case forloop.index %}
        {% when 1 %}
          {% assign className = "post-first" %}
        {% when 2 %}
          {% assign className = "post-second" %}
        {% when 3 %}
          {% assign className = "post-third" %}
        {% when 4, 5 %}
          {% assign className = "post-middle" %}
        {% else %}
          {% assign className = "post-last" %}
      {% endcase %}
      {% if forloop.index == 2 %}
      <div class='post-layout-wrapper'>
      {% endif %}
      <li class="{{ className }}">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          {% if post.featured_image %}
          <img class="featured-image" src="{{ site.image_url }}/{{ post.featured_image.url }}" />
          {% endif %}
          <div class="post-details">
            <h2>{{ post.title }}</h2>
            <h3>{{ post.teaser }}</h3>
            <h3 class='info'>
              {{ post.date | date: "%b %-d, %Y" }}
              &#9679 By
              {% for author_key in post.authors %}
                {% assign author = site.data.authors[author_key] %}
                {{author.name}}{% unless forloop.last %}, {% endunless %}
              {% endfor %}
            </h3>
          </div>
        </a>
      </li>
    {% if forloop.index == 3 %}
    </div>
    {% endif %}
      {% endif %}
    {% endfor %}
  </ul>

  <!-- <p class="rss-subscribe">subscribe to {{ site.title }} <a href="{{ '/feed.xml' | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
