$blue: #008fd5;
$yellow: #ffb81c;
$mobile-threshold: 700px;

.heatchart-tip {
  display: none;
  position: absolute;
  height: auto;
  padding: 5px;
  font: 14px sans-serif;
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: black;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.time-line {
  fill: none;
  stroke-width: 3px;
  opacity: 0.8;
}

.wooden {
  stroke: $blue;
  color: $blue;
}

.bfit {
  stroke: $yellow;
  color: $yellow;
}

.heat-circle:hover {
  opacity: 0.6;
  stroke: black;
  stroke-width: 1px;
}

.traffic-text {
  font-weight: bold;
}

.voronoi path {
  fill: none;
  pointer-events: all;
}

.label {
  @media only screen and (max-width: $mobile-threshold) {
    font-size: 7px;
    text-anchor: middle;
  }
  font-size: 14px;
  text-anchor: middle;
}

.circle-legend-label {
  font-size: 10px;
  text-anchor: middle;
}

.now-label {
  font-weight: bold;
}

.bold-border {
  stroke: black;
  stroke-width: 2.5px;
}

.no-border {
  stroke: none;
}

.circle-legend-svg {

}
