$blue: #008fd5;
$yellow: #ffb81c;

.time-line {
  fill: none;
  stroke-width: 3px;
  opacity: 0.8;
}

.wooden {
  stroke: $blue;
  color: $blue;
}

.bfit {
  stroke: $yellow;
  color: $yellow;
}

.traffic-text {
  font-weight: bold;
}

.facility-open {
  stroke: $blue;
}

.facility-closed {
  stroke: #f6b900;
}

.voronoi path {
  fill: none;
  pointer-events: all;
}

.now {
  fill: #3284BF;
  stroke: #3284BF;
}

.label {
  font-size: 13px;
}

.now-label {
  font-weight: bold;
}

.not-now-label {
  fill: black;
  font-size: 12px;
}

.now-border {
  stroke-width: 4px;
}

.closed-border {
  stroke: none;
  opacity: 0;
}

.not-now-border {
  stroke: grey;
  stroke-width: 1px;
}
