$blue: #008fd5;
$yellow: #ffb81c;
$mobile-threshold: 700px;

.heatchart-tip {
  display: none;
  position: absolute;
  height: auto;
  padding: 5px;
  font: 14px sans-serif;
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: black;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.time-line {
  fill: none;
  stroke-width: 3px;
  opacity: 0.8;
}

.wooden {
  stroke: $blue;
  color: $blue;
}

.bfit {
  stroke: $yellow;
  color: $yellow;
}

.traffic-text {
  font-weight: bold;
}

.voronoi path {
  fill: none;
  pointer-events: all;
}

.label {
  @media only screen and (max-width: $mobile-threshold) {
    font-size: 7px;
  }
  font-size: 14px;
}

.now-label {
  font-weight: bold;
}

.now-border {
  stroke: black;
  stroke-width: 4px;
}

.not-now-border {
  stroke: grey;
  stroke-width: 1px;
}
