#donut-chart-wrapper > svg {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

#table {
  width: 100%;
  margin: 25px 0;
  /*overflow: scroll;*/
}

#table table {
  margin: 0 auto;
}

table th, table td {
  text-align: left;
  padding: 2px 10px;
  font-size: 15px;
}

#table > table > tbody > tr:nth-child(odd) {
  background: rgba(200,200,200,0.1);
}

#table > table > tbody > tr > td {
  height: 30px;
  text-align: center;
}

#table > table > tbody > tr > td:nth-child(1) {
  text-align: left;
}

#table > table > tbody > tr > td:nth-child(3) {
  font-weight: bold;
}

#table > table > thead > tr > th {
  border-bottom: solid;
  text-align: center;
  /*background: rgba(184, 229, 255, 0.5);*/
}

/*.y-axis > g.tick > line, .x-axis > g.tick > line { display : none; }*/
