.tooltip {
  position: absolute;
  color: black;
  background-color: white;
  opacity: 0.8;

  padding: 10px;

  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.tooltip .perc {
  float: right;
}

.tooltip p {
    margin: 0;
}

.tooltip hr {
    height: 2px;
    color: black;
    margin: 5px 0;
}

.goal-border {
    stroke: #C2C6CC;
    stroke-width: 10;
}

.goal-border path {
    stroke: #C2C6CC;
}
