#dotchart {
  margin-top: 30px;
  margin-bottom: 30px;
}

.svg-classes {
  background-color: #FFFAF0;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

select {
  cursor: pointer;
}

.x-axis {
  font-size: 12px;
  font-weight: 400;
  opacity: 0.8;
}

.group-label {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.class-line {
  stroke: navy;
  stroke-width: 1.5;
  opacity: 0.5;
}

.prof-circle, .med-prof-circle, .frequent-prof-circle {
  stroke: #4D5656;
  stroke-width: 1px;
}

.prof-circle {
  fill: #f7fcb9;
}

.med-prof-circle {
  fill: #addd8e
}

.frequent-prof-circle {
  fill: #31a354;
}

.prof-circle:hover, .med-prof-circle:hover, .frequent-prof-circle:hover {
  cursor: crosshair;
}

.prof-label {
  font-size: 15px;
  font-weight: 400;
}

img {
  height: auto;
}
