#dotchart {
  margin-top: 30px;
  margin-bottom: 30px;
  overflow-x: scroll;
}

svg#svg-classes {
  background-color: white;
}

select {
  cursor: pointer;
}

.x-axis {
  font-size: 13px;
  font-weight: 400;
  opacity: 0.8;
}

.group-label {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.class-line {
  stroke: navy;
  stroke-width: 1.5;
  opacity: 0.5;
}

.prof-circle, .frequent-prof-circle {
  stroke: #4D5656;
  stroke-width: 1.5px;
  opacity: 1;
}

.prof-circle {
  fill: #FFB30F;
}

.frequent-prof-circle {
  fill: #247BA0;
}

.prof-circle:hover, .frequent-prof-circle:hover {
  cursor: crosshair;
}

.prof-label {
  font-size: 16px;
  font-weight: 400;
}

img {
  height: auto;
}
