.caption {
    font-size:smaller;
    color:gray;
    text-align: center;
}

blockquote {
    font-size: larger;
}

em {
    font-size:smaller;
}

.selectBox {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}