#timeline {
  width: 90%;
  height: 1200px;
}

@media screen and (min-width: 400px) {
  #timeline {
    height: 600px;
  }
}

.demo-theme-dark .demo-background {
  background: #000;
}

#bar-race {
  display: flex;
  justify-content: center;
}

@media (min-width: 620px) { 
    .flourish-embed {
    width: 100vh;
  }
}
