.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

#horizontal-bar .tick line {
  display: none;
}

#horizontal-bar .domain {

  display: none;
}

#xaxis .domain {
  fill:none;
  stroke:#000;
}

#xaxis text, #yaxis text {
  font-size: 12px;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

#donut-chart {
  width: 100%;
  display: block;
}

#donut-chart svg {
  display: block;
  margin: 0 auto;
}


text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#vertical-bar > svg > g > g.x.axis > g > line {
  display: none;
}

.affixed {
  position: fixed;
  box-sizing: border-box;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
  top: 0;
}

.legend rect:hover {
  cursor: pointer;

}

#d1 {
  font-size: 1.8em;
}

img.ui.avatar.image.rep {
  border: 2px solid red;
}

img.ui.avatar.image.dem {
  border: 2px solid blue;
}