body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

#horizontal-bar .tick line {
  display: none;
}

#horizontal-bar .domain {

  display: none;
}

#xaxis .domain {
  fill:none;
  stroke:#000;
}

#xaxis text, #yaxis text {
  font-size: 12px;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

div.vertical-tip-1 {
  position: absolute; 
  height: auto;   
  padding: 6px; 
  font: 12px sans-serif;  
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.2);          
  color: black;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  opacity:0;
}

div.vertical-tip-1 p {
  margin-bottom: 0px;
}

#donut-chart {
  width: 100%;
  display: block;
}

#donut-chart svg {
  display: block;
  margin: 0 auto;
}


text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#vertical-bar > svg > g > g.x.axis > g > line {
  display: none;
}


div.horizontal-tip {
  position: absolute; 
  height: auto;  
  /*width: 200px; */
  padding: 6px; 
  font: 12px sans-serif;  
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.2);          
  color: black;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  opacity:0;
}

div.horizontal-tip .left {
  display: inline-block; 
  float:left;
  padding-right: 5px; 
  border-right: 1px dotted rgba(0,0,0, 0.4); 
}
div.horizontal-tip .right {
  height: auto;
  font-size: 2em;
  padding-left: 5px;
  display: inline-block;
  float: right;
}

