.chart-descrip {
    font-size:smaller;
    color:gray;
}

@media only screen and (min-width: 1000px) {

    .rate-line {
        float: left;
        width: 50%;
        height: 100%;
        margin-bottom: 40px;
    }
    .rate-change {
        float: right;
        width: 50%;
    }
    .grad-rate-gap {
        width: 50%;
        margin: auto;
        height: auto;
    }

    .DOEViz {
        width: 70%;
        height: auto;
    }

    .TotalViz {
        width: 70%;
        height: auto;
    }

    .chart-container {
        width: 70%;
        margin: auto;
        margin-bottom: 40px;
    }

    .graphic {
        width: 50%;
        margin-top: 40px;
        float: right;
    }

    .chart-descrip {
        margin-left: 100px;
    }

    .line-break {
        height: 90px;
    }

    .small-line-break {
        height: 50px;
    }
}

