<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <h2><img class="logo" src="/img/logo.svg" /> {{ site.title }}</h2>
        <p class="text">{{ site.description }}</p>
        <p class="copyright-info">Content &copy; Daily Bruin</p>
        <p class="copyright-info">Code available under open source licenses on <a href="https://github.com/{{ site.github_username }}">GitHub</a></p>
      </div>


      <div class="footer-col  footer-col-2">
        <ul class="contact-list">
          <li>
            <h3>Develop/write for us</h3>
            <a href="{{ site.application }}">Apply to the Stack</a>
          </li>
          <li>
            <h3>Contact us</h3>
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </li>
        </ul>
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <img src="/img/icons/github.svg" />
              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <img src="/img/icons/twitter.svg" />
              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
      
    </div>

  </div>

</footer>
