<footer class="site-footer">

  <div class="wrapper">

    <h2><img class="logo" src="/img/logo_monochrome_black.svg" /> {{ site.title }}</h2>

    <div class="footer-col-wrapper">

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <img src="/img/icons/github.svg" />
              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <img src="/img/icons/twitter.svg" />
              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}
        </ul>

        <p class="copyright-info">Content &copy; Daily Bruin</p>
        <p class="copyright-info">Code available under open source licenses <a href="https://github.com/{{ site.github_username }}">on GitHub</a></p>
      </div>

      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>
            <h3>Contact us</h3>
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </li>
          <li>
            <h3>Develop/write for us</h3>
            <a href="https://docs.google.com/a/media.ucla.edu/forms/d/1LS6u4b-MZk2Vh7OKwm8oK2pdpQbWJfozc0lx-6Dj450/viewform?usp=send_form">Write a guest post</a>
            <a href="https://apply.uclastudentmedia.com/applications/daily-bruin/data-journalism-intern/fall-2018/">Apply to the Stack</a>
          </li>
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>

    </div>

  </div>

</footer>
