
/*CSS for the Scrollama*/
/*Desktop Version */
@media only screen and (min-width: 1000px) {
.scrollama{
    width: 100%;
}

/* .scrolly_title{
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 26px;
} */

#scrolly_area {
/* position: relative; */
padding: 0 1rem;
margin: 0 auto;
/* width: 90%; */
height: 2000px; 
}

/* #outro{
    width: 100%;
} */

.step {
margin: 2rem auto 4rem auto;
background-color: #3b3b3b;
color: #fff;
opacity: .5;
/* width: 30%; */
top: 20px;
float: right;
}

.step.is-active {
background-color: #3b3b3b;
color: #fff;
opacity: 1;
}

.step p {
text-align: center;
/* font-size: 1.5rem; */
font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 26px;
}

.step.first {
    width: 100%
}

.step.later{
    width: 30%;
    right: 0;
    height: 300px;
}

.step.last{
    width: 100%
} 

figure {
    
    /* position: relative;
    top: 400px; */
    width: 60%;
    height: 100%;
    float: left;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    /* background-color: #8a8a8a; */
}

.BudgetStopChart{
    position: -webkit-sticky;
    position: sticky;
    top: 25%;
    width: 100%;
    height: 500px; 
    /* height: 100%; */
}

#stick {
    /* height: 4000px; */
    width: 100%;
    position: relative;
    padding: 0 1rem;
    margin: 0 auto;
    /* width: 90%; */
    height: 2000px; 
}

#myChart{
    width: 100%;
}
}

/*MOBILE*/
@media only screen and (max-width: 1000px) {
    .scrollama{
        width: 90%;
    }
    
    /* .scrolly_title{
        font-family: PT Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 26px;
    } */
    
    #scrolly_area {
    /* position: relative; */
    padding: 0 1rem;
    margin: 0 auto;
    /* width: 90%; */
    height: 2750px; 
    }
    
    .step {
    margin: 2rem auto 4rem auto;
    background-color: #3b3b3b;
    color: #fff;
    opacity: .5;
    /* width: 30%; */
    top: 300px;
    float: right;
    z-index: 1;
    }
    
    .step.is-active {
    background-color: #3b3b3b;
    color: #fff;
    opacity: 1;
    }
    
    .step p {
    text-align: center;
    /* font-size: 1.5rem; */
    /* font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px; */
    }
    
    .step.first {
        width: 100%
    }
    
    .step.later{
        width: 100%;
        right: 0;
        height: 90vh;
    }
    
    .step.last{
        width: 100%
    } 
    
    figure {
        position: -webkit-sticky;
        position: sticky;
        /* position: relative;*/
        top: 200px; 
        width: 100%;
        /* height: 400px; */
        float: left;
        margin: 0;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        z-index: 1;
        background-color: #fff;
    }
    
    .BudgetStopChart{
        width: 100%;
        z-index: 0;
        /* height: 500px;  */
        /* height: 100%; */
    }
    
    #stick {
        /* height: 4000px; */
        width: 100%;
        position: relative;
        padding: 0 1rem;
        margin: 0 auto;
        /* width: 90%; */
        height: 2000px; 
    }
    
    #myChart{
        width: 100%;
    }
    }