.chart-container {
    position: relative;
}

.chart-container #fee-explainer {
    display: none; /* hidden by default */
    position: absolute;
    top: 16%;
    left: 8%;
    background-color: rgba(255,255,255, 0.8);
    box-shadow: 0 4px 20px rgba(0,0,0, 0.5);
    z-index: 100;
    padding: 1em 1.5em;
    font-size: 0.8em;
    width: 50%;
    max-width: 480px;
    line-height: 1.4;
}

.chart-container h2 {
    text-align: center;
}
