.post-content hr {
    clear: both;
}

.post-content h2 {
    clear: both;
}

.chart {
    width: 50%;
    float: left;
    margin-right: 1em;
}

.c3-xgrid-line line {
    stroke: orange;
}

.c3-axis-y-label {
    fill: gray;
}

@media (max-width: 600px) {
    .chart {
        width: 100%;
        float: none;
        margin-right: 0;
    }
}
