body {
  font: 10px sans-serif;
  position: relative;
  padding: 100px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

svg {
  overflow: visible;
  padding: 200px;
}

label {
  position: absolute;
  top: 10px;
  right: 10px;
}

select {
  height: 100%;
  width: 100%;
  font-size: 20px;
}

option {
  font-size: 20px;
}
