body {
  font: 10px sans-serif;
  position: relative;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis {
      font: 15px sans-serif;
}

path {
  fill: none;
}

.x.axis.radial path {
  display: none;
}

svg {
  overflow: visible;
  padding: 150px 0;
  font-size: 8px;
}

select {
  height: 100%;
  width: 100%;
  font-size: 20px;
}

option {
  font-size: 20px;
}

.dot {
  stroke: none;
}

.tooltip {
  position: absolute;
  font-size: 12px;
  width: auto;
  height: auto;
  pointer-events: none;
  background-color: white;
}

.tooltip-box {
  padding: 5px;
  color: white;
}
