[class^=typo], .list a {
  font-family: "Playfair Display", sans-serif;
  color: #585858;
  text-decoration: none;
}

[class^=typo] {
  min-width: 40%;
}

.typo4 {
  min-width: 33%;
}

.transition {
  transition: all 0.4s ease-in-out;
}

.list {
  position: relative;
  margin-bottom: 5px;
  margin-top: 10px;
}

.list ul {
  text-align: left;
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  display: none;
  margin-left: 0px;
  background-color: white;
  opacity: 20%;

  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1;
  margin-top: -5px;
}

.list ul .active {
  display: block;
}

.list li {
  list-style: none;
  padding: 3px;
}

.list li:first-child a {
  color: #2288ee;
}
.list a {
  transition: all 0.4s;
  color: #2288ee;
  position: relative;
}
.list a:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  left: 0;
  background: #2288ee;
  bottom: 0;
  transition: all 0.4s ease-out;
}
.list a:hover {
  cursor: pointer;
  color: #2288ee;
}
.list a:hover:after {
  width: 100%;
}

[class^=placeholder] {
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 5px;
}
[class^=placeholder]:after {
  content: "";
}
[class^=placeholder]:hover {
  color: #888888;
}
