/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
/*#monthSelect {*/
  /*height:auto;*/
  /*margin: 10px 0;*/
  /*width: 80%;*/
/*}*/
.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 46.25%;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}



select {
  margin: 5% 5% 5% 100%;
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 3px solid #ccc;
  height: 45px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(https://www.pngrepo.com/png/122410/170/arrow-of-double-angle-pointing-down.png) 92% / 10% no-repeat #EEE;
}

#map {
  height: 600px;
  width: 80%;
  margin: auto;
}


#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
#floating-panel {
  background-color: #fff;
  border: 1px solid #999;
  left: 25%;
  padding: 5px;
  position: absolute;
  top: 10px;
  z-index: 5;
}


#plotly-div2 {
  width: 80%;
}
