/**
 * Site header
 */
.site-header {
  $height: 56px;
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $height;
  line-height: $height;
  padding-top: 10%;
  background: url(/img/banner.svg) no-repeat center;
  background-size: cover;
  text-shadow: 0 0 2px white;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-family: $header-font-family;
  font-weight: 400;
  float: left;
  font-size: 2em;
  line-height: 1;
  margin-top: 10px;

  &,
  &:visited {
    color: $grey-color-dark;
  }

  img {
    height: 1em;
    vertical-align: middle;
    margin-bottom: 6px;
  }
}

.tagline {
  color: $grey-color;
  font-size: 0.9em;
  margin: 1.2em;
  white-space: nowrap;
}

.site-nav {
  float: right;

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;

  h2 {
    font-size: 18px;
    font-weight: 400;
    cursor: default;
    margin-bottom: $spacing-unit / 2;

    .logo {
      width: 20px;
      margin-bottom: 4px;
    }
  }

  h3 {
    font-size: 14px;
    margin-bottom: 0;
  }

  .contact-list {
    li {
      margin-bottom: $spacing-unit / 2;

      a {
        display: block;
      }
    }
  }

  .copyright-info {
    font-size: 0.7em;
    margin: 0.5em 0;
  }
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;

  img {
    width: 20px;
    vertical-align: text-top;
  }
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(28% - (#{$spacing-unit} / 2));
  width: calc(28% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(27% - (#{$spacing-unit} / 2));
  width: calc(27% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  > li {
    margin-bottom: $spacing-unit + ($spacing-unit/2);
    border: 1px solid #666;
    flex-basis: 27%;
    max-width: 27%;
    padding: 2%;
    margin: 1%;
    // 3 Columns: (27 + 2*2 + 1*2) = 33%

    @include media-query($on-laptop) {
      flex-basis: 100%;
      max-width: 100%;
      padding: 3%;
      margin: 2%;
    }
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  border-bottom: 1px solid $grey-color-light;
  padding-bottom: 0.5em;

  .date {
    float: right;
  }
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  line-height: 1;
  margin-bottom: 0.1em;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-teaser {
  line-height: 1.2;
  margin: 0.6em 0;
  color: $grey-color-dark;
  font-weight: 400;
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }

  figure {
    &.left {
      float: left;
      margin-right: $spacing-unit / 2;
    }

    &.right {
      float: right;
      margin-left: $spacing-unit / 2;
    }

    &.left,
    &.right {
      width: 50%;

      @include media-query($on-palm) {
        width: 100%;
        float: none;
        margin-left: 0;
        margin-right: 0;
      }
    }

    img {
      border: 1px solid $grey-color-light;
    }
  }

  .fullwidth {
    width: 100vw;
    margin-left: calc(
       (100vw - (#{$content-width} - (#{$spacing-unit} * 2)))/-2
    );

    @include media-query($on-laptop) {
      margin-left: #{-$spacing-unit/2};
    }
  }

  .correction {
    font-style: italic;
    font-size: 0.8em;
  }
}

.key-takeaways {
  background-color: rgba($brand-color-secondary-warm, 0.05);
  border: 1px solid rgba($brand-color-secondary-warm, 0.5);
  padding: 1em 1em 0.5em;
  margin-bottom: 1em;

  h2 {
    font-weight: 400;
    margin-bottom: 0;
  }

  ul {
    list-style-type: none;
    margin-bottom: 0;
    margin: 0 0 0 1em;

    li {
      position: relative;
      line-height: 1.4;
      margin: 0.5em 0;

      p {
        // conversion to markdown adds <p> tags inside every <li> and
        // we don't want these to add extra space
        margin: 0;
      }

      &:before {
        content: "\203a";
        font-size: 1.5em;
        position: absolute;
        top: -8px;
        left: -14px;
      }
    }
  }
}

.prev-next-post {
  overflow: hidden;
  margin-bottom: 1em;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end; // vertically align children at bottom of container

  @include media-query($on-palm) {
    display: block;
  }

  a {
    // force all items to take up the same amount of space
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    flex-basis: 0;

    font-size: 0.8em;
    box-sizing: border-box;
    padding: 1em;
    line-height: 1.2;

    &.prev {
      float: left;
    }

    &.next {
      float: right;
      text-align: right;
    }

    h2 {
      margin-bottom: 0.25em;
    }

    h3 {
      font-weight: normal;
      margin-bottom: 0;
    }
  }
}

.about-the-author {
  clear: both;
  border-top: 1px solid $grey-color-light;
  padding-top: 1.5em;

  .author {
    overflow: hidden;
    margin-bottom: 1em;

    h3,
    h4 {
      display: inline;
    }

    h4 {
      font-weight: 400;
      font-style: italic;
      color: $grey-color;
    }

    ul.contact {
      list-style-type: none;
      margin-left: 0;

      li {
        display: inline-block;
        margin-right: 1em;
      }

      img {
        width: 20px;
        vertical-align: text-top;
      }
    }

    .mug {
      float: left;
      margin-right: 1em;
      width: 200px;

      @include media-query($on-palm) {
        width: 100px;
      }
    }
  }
}

#jump-to-visualization {
  background-color: rgba($brand-color-tertiary-cool, 0.05);
  border: 1px solid rgba($brand-color-tertiary-cool, 0.125);
  display: none;
  float: right;
  padding: 0.2em 0.4em;
  margin: 0 0 1em 1em;
}
