.PlantTypes {
    width: 50%;
    margin: auto;
}
.map-title{
    font-size: 18px;
    font-weight: 600;
    margin: auto;
    text-align: center;
}

.pie-chart{
    height: 350px;
}
@media only screen and (max-width: 480px){
    .PlantTypes {
        height: 425 px;
        width: 100%;
    }
    
}

.PlantD {
    width: 50%;
    margin: auto;
}


@media only screen and (max-width: 480px){
    .PlantD {
        height: 425 px;
        width: 100%;
    }
    
}

.legend-box{
    display: inline-block;
    height: 10px;
    width: 10px;
    border: 2px solid black;
}
