@media only screen and (min-width: 1000px) {

    .ucla-chart {
        float: left;
        width: 50%;
    }
    .ucb-chart {
        float: right;
        width: 50%;
    }
    .usc-chart {
        width: 50%;
    }

    #timeline-chart {
        width: 70%;
    }

    .chart-container {
        width: 70%;
        margin: auto;
    }
}