/*@media only screen and (min-width: 1000px) {
.UCLA {
    float: left;
    min-width: 50%;
    margin-bottom: 10px;
}

.UCM {
    float: right;
    min-width: 50%;
    margin-bottom: 10px;
}
}
*/


/* #UCLA {
    width: 200px;
    text-align: left;
    margin-left: auto;
    margin-right: auto
} */

.pie-charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.emission-chart {
    width: 350px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 480px) {
    .emission-chart {
        width: 110%;
        margin-bottom: 0px;
        overflow-x: scroll;
    }

    #line-chart {
        height: 400px;
    }
}
@media only screen and (min-width: 480px) {
    .ucla-chart{
        width: 100%; 
        padding-left: 30%; 
        align-content: center;
    } 
}

.my-legend .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
}

.my-legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
}

.my-legend .legend-scale ul li {
    display: inline-block;
    font-size: 80%;
    list-style: none;
    line-height: 18px;
    vertical-align: text-top;
}

.my-legend ul.legend-labels li span {
    display: inline-block;
    height: 16px;
    width: 20px;
    margin-right: 5px;
    margin-left: 10px;
    border: 1px solid #999;
}

.my-legend a {
    color: #777;
}