#viz-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

svg {
  width: 800px;
  height: 200px;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

select {
  cursor: pointer;
  font-size: 50px;
  width: 200px;
}

.group-label {
  font-size: 15px;
  font-weight: 300;
}

.prof-circle, .selected-prof-circle {
  fill: powderblue;
  stroke: #4D5656;
}

.prof-circle {
  stroke-width: 2px;
}

.selected-prof-circle {
  stroke-width: 4px;
}

.prof-label {
  font-size: 10px;
  font-weight: 400;
}
