svg {
  width: 800px;
  height: 1000px;
}

text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

circle {
  opacity: 0.6;
}

rect {
  opacity: 0.8;
}

.selected-circle {
  opacity: 1;
}

.node {
  border: solid 1px white;
  font-size: 10px;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}
