$blue: #008fd5;
$mobile-threshold: 600px;

/* scatterplot */
#scatterplot-svg {
  display: block;
  margin: auto;
  background-color: #fffff6;
}

.subject-circle {
  opacity: 0.65;
}

.default-circle {
  fill: $blue
}

.grey-circle {
  fill: darkgrey;
}

.circle-stroke {
  stroke: black;
  stroke-width: 2px;
}

/* tables */

@media only screen and (max-width: 767px) {
  .ui.table:not(.unstackable) td:first-child, .ui.table:not(.unstackable) {
    font-weight: normal;
  }
}

/* pair compairson */
.dropdown {
  font-size: 16px;
  @media only screen and (max-width: $mobile-threshold) {
    font-size: 13px;
  }
}

/* scatterplot */
figcaption {
  text-align: center;
}
