/* #scrolly {
position: relative;
width: 100%;
/* height: 2000 px; 
/* overflow: visible; 
} */

.scrollama{
    width: 100%;
}

.scrolly_title{
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 26px;
}

#scrolly_area {
/* position: relative; */
padding: 0 1rem;
margin: 0 auto;
/* width: 90%; */
height: 2000px; 
}

#outro{
    width: 100%;
}

.step {
margin: 2rem auto 4rem auto;
background-color: #3b3b3b;
color: #fff;
opacity: .5;
/* width: 30%; */
top: 20px;
float: right;
}

.step.is-active {
background-color: goldenrod;
color: #3b3b3b;
opacity: 1;
}

.step p {
text-align: center;
/* font-size: 1.5rem; */
font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 26px;
}

.step.first {
    background-color: purple;
    /* float: left; */
    width: 100%
}

.step.later{
    width: 30%;
    right: 0;
    height: 300px;
}

.step.later.chart{
    width: 30%;
    right: 0;
    height: 650px;
}

.step.last{
    width: 100%
} 

figure {
    
    /* position: relative;
    top: 400px; */
    width: 60%;
    height: 100%;
    float: left;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    /* background-color: #8a8a8a; */
}

.BudgetStopChart{
    position: -webkit-sticky;
    position: sticky;
    top: 25%;
    /* width: 55%; */
    /* height: 500px; */
    /* height: 100%; */
}

#stick {
    /* height: 4000px; */
    width: 100%;
    position: relative;
    padding: 0 1rem;
    margin: 0 auto;
    /* width: 90%; */
    height: 2000px; 
}
/*
#sticker {
    position: sticky;
    position: -webkit-sticky;
    height: 200px;
    top:0;
    background-color: purple;
}
#scroller{
    background-color: blue;
} */