---
layout: default
---

<div class="post">

  <header class="post-header">

    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.teaser %}
    <h2 class="post-teaser">{{ page.teaser }}</h1>
    {% endif %}

    {% if page.featured_image %}
    <figure class="featured-image">
      <img src="{{ site.image_url }}/{{ page.featured_image.url }}" />
      {% if page.featured_image.caption %}
      <figcaption>
        {{ page.featured_image.caption | markdownify }}
      </figcaption>
      {% endif %}
    </figure>
    {% endif %}

    <div class="post-meta">

      {% if page.authors %}
      <span class="authors">
        By
        {% for author_key in page.authors %}
          {% assign author = site.data.authors[author_key] %}
          {{ author.name }}{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      </span>
      {% endif %}

      <span class="date">{{ page.date | date: "%b %-d, %Y" }}</span>
    </div>
  </header>

  <article class="post-content">
    {% if page.key_takeaways %}
      <section class="key-takeaways">
        <h2>Key Takeaways</h2>
        <ul>
        {% for takeaway in page.key_takeaways %}
          <li>{{ takeaway | markdownify }}</li>
        {% endfor %}
        </ul>
      </section>
    {% endif %}
    <a href="#visualization" id="jump-to-visualization">↓ Jump to visualization</a>
    {{ content }}
  </article>

  <nav class="prev-next-post">
    {% if page.previous %}
    <a class="prev" href="{{ page.previous.url }}">
      <h3>← {{ page.previous.title }}</h2>
    </a>
    {% endif %}
    {% if page.next %}
    <a class="next" href="{{ page.next.url }}">
      <h3>{{ page.next.title }} →</h2>
    </a>
    {% endif %}
  </nav>

  {% if page.authors %}
  <section class="about-the-author">
    <h2>AUTHOR{% if page.authors.size > 1 %}S{% endif %}</h2>
    <div class="authors-list">
      {% for author_key in page.authors %}
        {% assign author = site.data.authors[author_key] %}
      <div class="author">
        <h3>{{ author.name }}</h3>
        {% if author.title %}<h4>{{ author.title }}</h4>{% endif %}
        {% if author.mug %}<img class="mug" src="/img/mugs/{{ author_key }}.jpg" />{% endif %}
        {% if author.bio %}
        {{ author.bio | markdownify }}
        {% endif %}
        <ul class="contact">
          {% if author.github %}
          <li><a href="https://github.com/{{ author.github }}"><img src="/img/icons/github.svg" /></a></li>
          {% endif %}
          {% if author.twitter %}
          <li><a href="https://twitter.com/{{ author.twitter }}"><img src="/img/icons/twitter.svg" /></a></li>
          {% endif %}
          {% if author.email %}
          <li><a href="mailto:{{ author.email }}"><img src="/img/icons/email.svg" /></a></li>
          {% endif %}
          {% if author.website %}
          <li><a href="{{ author.website }}"><img src="/img/icons/globe.svg" /></a></li>
          {% endif %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </section>
  {% endif %}

  <!-- Disqus comments
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'stackdailybruin';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script> -->

</div>
