---
layout: default
---

{% assign author = site.data.authors[page.author] %}

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>

    {% if page.authors %}
        <p class="post-authors">
            by 
            {% for author_key in page.authors %}
                {% assign author = site.data.authors[author_key] %}
                {{ author.name }}{% unless forloop.last %}, {% endunless %}
            {% endfor %}
        </p>
    {% endif %}

    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ author.name }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
