---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.teaser %}
    <h2 class="post-teaser">{{ page.teaser }}</h1>
    {% endif %}

    <div class="post-meta">

      {% if page.authors %}
      <span class="authors">
        by
        {% for author_key in page.authors %}
          {% assign author = site.data.authors[author_key] %}
          {{ author.name }}{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      </span>
      {% endif %}

      <span class="date">{{ page.date | date: "%b %-d, %Y" }}</span>
    </div>

  </header>

  {% if page.key_takeaways %}
  <section class="key-takeaways">
    <h2>Key takeaways</h2>
    <ul>
    {% for takeaway in page.key_takeaways %}
      <li>{{ takeaway }}</li>
    {% endfor %}
    </ul>
  </section>
  {% endif %}

  <a href="#visualization" id="jump-to-visualization">↓ Jump to visualization</a>

  <article class="post-content">
    {{ content }}
  </article>

  <nav class="prev-next-post">
    {% if page.previous %}
    <a class="prev" href="{{ page.previous.url }}">
      <h2>← {{ page.previous.title }}</h2>
      <h3>{{ page.previous.teaser }}</h3>
    </a>
    {% endif %}
    {% if page.next %}
    <a class="next" href="{{ page.next.url }}">
      <h2>{{ page.next.title }} →</h2>
      <h3>{{ page.next.teaser }}</h3>
    </a>
    {% endif %}
  </nav>

  {% if page.authors %}
  <section class="about-the-author">
    <h2>About the author{% if page.authors.size > 1 %}s{% endif %}</h2>
    {% for author_key in page.authors %}
      {% assign author = site.data.authors[author_key] %}
    <div class="author">
      {% if author.mug %}<img class="mug" src="/img/mugs/{{ author.mug }}" />{% endif %}
      <h3>{{ author.name }}</h3>{% if author.title %}, <h4>{{ author.title }}</h4>{% endif %}
      <p>{{ author.bio }}</p>
      <ul class="contact">
        {% if author.github %}
        <li><a href="https://github.com/{{ author.github }}"><img src="/img/icons/github.svg" /> {{ author.github }}</a></li>
        {% endif %}
        {% if author.twitter %}
        <li><a href="https://twitter.com/{{ author.twitter }}"><img src="/img/icons/twitter.svg" /> {{ author.twitter }}</a></li>
        {% endif %}
        <li><a href="mailto:{{ author_key }}"><img src="/img/icons/email.svg" /> {{ author_key }}</a></li>
        {% if author.website %}
        <!--<li><a href="{{ author.website }}"><img src="/img/icons/globe.svg" /> {{ author.website | replace:'http://','' | replace:'https://','' }}</a></li>-->
        {% endif %}
      </ul>
    </div>
    {% endfor %}
  </section>
  {% endif %}

</div>
