---
layout: page
stylesheets:
  - /css/projects.css
---

<article class="post-content">
  {{ content }}
</article>

{% for project in site.data.projects %}
<div class="project">
  <!-- index [0] is key, index [1] is value -->
  <h2>{{ project[1].name }}</h2>
  <p class="description">{{ project[1].description }}</p>
  <div class="screenshot-wrapper">
    <img class="screenshot" src="/img/projects/{{ project[0] }}.png" />
    <a class="link" href="{{ project[1].link }}">
      <img src="/img/icons/link.svg" />
    </a>
    <a class="github" href="https://github.com/{{ site.github_username }}/{{ project[1].github }}">
      <img src="/img/icons/github.svg" />
    </a>
  </div>
</div>
{% endfor %}
