$blue: #008fd5;
$mobile-threshold: 600px;

#scatterplot-svg {
  display: block;
  margin: auto;
  border: solid gray 1px;
}

.subject-circle {
  opacity: 0.6;
}

.default-circle {
  fill: $blue
}

.grey-circle {
  fill: darkgrey;
}

.circle-stroke {
  stroke: black;
  stroke-width: 2px;
}

.dropdown {
  font-size: 16px;
  @media only screen and (max-width: $mobile-threshold) {
    font-size: 12px;
  }
}
