  #wrapper_quiz{
    width: 80%;
    padding: 10px 15px;
    margin: auto;
    border: black 2px solid
  }

  .question{
    font-weight: 800;
  }

  .quiz_submit {
    font-family: 'PT Sans';
    font-size: 18px;
    padding: 10px;
    margin: 20px 0;
    border-radius: 10px;
  }
  #submit {
    background:#94D8FB;
  }
  #answer {
    font-size: 25px;
    border: 1px dashed #ccc;
    background: #eee;
    padding: 10px;
  }
  .no_results{
    display: none !important;
    border: 2px black solid
  }
  .results{
    display: block;
  }
  #stacked-chart{
    height: 400px;
  }
@media (max-width: 600px){
  #stacked-chart{
    height: 600px;
  }
  #wrapper_quiz{
    width: 95%;
  }
}